html {
  height: 100%;
  width: 100%;

  --cell-size-unit: 9;
  --cell-height: calc(var(--cell-size-unit) * 7.5px);
  --cell-width: calc(var(--cell-size-unit) * 6.5px);
  --cell-gap: calc(var(--cell-size-unit) * 0.5px);

  --hover-zoom-rate: 1.4;
}
body {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}
.wrapper {
  display: flex;
  min-height: calc(100% - 8px);
  width: calc(100% - 16px);
  margin: 8px;
  margin-bottom: 0;
}
.content_area {
  flex-grow: 1;
  flex-shrink: 1;
  width: calc(100% - 300px);
}


.table_body {
  position: relative;
  display: grid;
  grid-template-rows: calc(var(--cell-height) * 0.5) repeat(7, var(--cell-height)) calc(var(--cell-height) * 0.2) repeat(2, var(--cell-height)) calc(var(--cell-height) * 0.2);
  grid-template-columns: calc(var(--cell-width) * 0.7) repeat(18, var(--cell-width)) calc(var(--cell-width) * 0.5);
  gap: var(--cell-gap);

  width: 100%;
  margin-bottom: 10px;
  overflow-x: scroll;

}
.element_cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--cell-size-unit) * 1.5px);

  top: 0;
  left: 0;
  height: var(--cell-height);
  width: var(--cell-width);
  
  background-color: #ddd;
  user-select: none;
  overflow: visible;

  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.6);
  z-index: 0;
  cursor: pointer;

  --cell-id-font-size: calc(var(--cell-size-unit) * 1.2px);
  --cell-symbol-font-size: calc(var(--cell-size-unit) * 2.8px);
  --cell-text-font-size: calc(var(--cell-size-unit) * 1.1px);
}
.element_cell:hover {
  left: calc(calc(var(--cell-width) * calc(var(--hover-zoom-rate) - 1)) * -0.5);
  top: calc(calc(var(--cell-height) * calc(var(--hover-zoom-rate) - 1)) * -0.5);
  height: calc(var(--cell-height) * var(--hover-zoom-rate));
  width: calc(var(--cell-width) * var(--hover-zoom-rate));

  font-size: calc(calc(var(--cell-size-unit) * 1.5px) * var(--hover-zoom-rate));

  z-index: 1;

  --cell-id-font-size: calc(calc(var(--cell-size-unit) * 1.2px) * var(--hover-zoom-rate));
  --cell-symbol-font-size: calc(calc(var(--cell-size-unit) * 2.8px) * var(--hover-zoom-rate));
  --cell-text-font-size: calc(calc(var(--cell-size-unit) * 1.1px) * var(--hover-zoom-rate));
}
.element_cell .id {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--cell-id-font-size);
}
.element_cell .symbol {
  position: absolute;
  top: calc(var(--cell-id-font-size) * 1);
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: var(--cell-symbol-font-size);
}
.element_cell .text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: var(--cell-text-font-size);
  white-space: nowrap;
}
.element_header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--cell-size-unit) * 1.3px);
  
  background-color: #ddd;
  user-select: none;
  overflow: visible;
  
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.6);
}


.decompose_result,.search_result {
  display: grid;
  gap: var(--cell-gap);
  margin-top: 15px;
  margin-bottom: 20px;
}


.page_title {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.section {
  margin-bottom: 15px;
}
.section_title {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}
.oc_button {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border: solid 1px black;
  user-select: none;
  cursor: pointer;
}
.section.open .oc_button::after {
  content: "-";
  line-height: 1em;
}
.section.close .oc_button::after {
  content: "+";
  line-height: 1em;
}

.section_body {
  margin-left: 40px;
  margin-top: 10px;
}
.section.close .section_body {
  display: none;
}
.description {
  margin-bottom: 5px;
}



.table_size_changer {
  display: flex;
  align-items: center;
}

.side_area {
  display: none;
  position: relative;
}
.side_area.show {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 300px;
  border-left: solid 1px black;
}

.element_detail {
  margin: 10px;
  position: fixed;
}
.detail_title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.detail_content {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.detail_field {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}
.field_label {
  flex-basis: 80px;
  flex-grow: 0;
  flex-shrink: 0;
}
.field_split {
  flex-basis: 20px;
  flex-grow: 0;
  flex-shrink: 0;
}
.field_value {
  flex-basis: 170px;
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 0;
}

.close_button {
  position: fixed;
  right: 10px;
  top: 10px;
  height: 35px;
  width: 35px;
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
}
.close_button:hover {
  background-color: #ccc;
}
.close_button::before,.close_button::after {
  content: "";
  position: absolute;
  height: 5%;
  width: 80%;
  left: 10%;
  top: 47.5%;
  box-sizing: content-box;
  background-color: #000;
}
.close_button::after {
  transform: rotate(-45deg);
}
.close_button::before {
  transform: rotate(45deg);
}
