html {
  height: 100%;
  width: 100%;
}
body {
  height: calc(100% - 16px);
  width: calc((100% 16px));
  margin: 8px;

  display: flex;
  flex-direction: row;
}

.main_area {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  min-width: 360px;
  height: 100%;

  flex-grow: 1;
}
.input_area,.output_area {
  display: flex;
  flex-direction: column;
}

.input_box,.output_box {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  flex-grow: 1;
  min-height: 50px;
  margin-bottom: 15px;
  resize: none;
}
.input_text,.output_text {
  height: calc(100% - 8px);
  flex-grow: 1;
  resize: none;
}
.option_box {
  flex-basis: 170px;
  flex-grow: 0;
}
.volume {
  width: 150px;
}

.morse_option_text {
  width: 20px;
}

label {
  user-select: none;
}


.table_area {
  display: flex;
  flex-direction: column;

  padding: 8px;
  
  border-left: solid 1px black;

}
.table_area_title {
  font-size: 1.3rem;
  margin-bottom: 15px;
}
.table_wrap {
  margin-top: 8px;
  overflow: auto;
}
.table_wrap table {
  border-spacing: 0;
  border-collapse: separate;
}
.table_wrap tbody {
  overflow: scroll;
}
.table_wrap th,.table_wrap td {
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  padding: 2px 6px;
  background-color: white;
  white-space: nowrap;
}
.table_wrap th:first-child,.table_wrap td:first-child {
  border-left: solid 1px black;
} 
.table_wrap th {
  position: sticky;
  top: 0;
  border-top: 1px solid black;
  border-bottom: 3px double black;
}
.table_wrap .char {
  text-align: center;
}
.table_wrap .under_double td {
  border-bottom: 3px double black;
}

table.hide {
  display: none;
}

.right2left {
  direction: rtl;
}



